body{
    background-color: #fdfbd4;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}

html {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    padding: 0; /* Remove extra padding in the navbar */
}

.navbar .navbar-brand {
    margin-left: 0; /* Push the brand to the very left */
    display: flex;
    align-items: center; /* Vertically align the logo and text */
}

.navbar .logo {
    display: block;
    margin: 0 auto;
    transition: width 0.3s ease-in-out;
    width: 60px; /* Adjust size of the logo */
    margin-right: 10px; /* Add spacing between logo and text */
}

.brand-title {
    font-size: 1.5rem; /* Adjust title font size */
    font-weight: bold;
    font-family: 'Delicious Handrawn';
} 

nav{
    
    background-color: #fff;
    border-top: 4px solid #5D4037 ;
    border-bottom: 4px solid #5D4037;
    border-left: 4px solid #5D4037;
    border-right: 4px solid #5D4037;
    border-radius: 05px;
}

.navbar .navbar-nav{
    text-decoration: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-transform: none;
    padding: 10px 20px;
    color: #5D4037;
}

.navbar .nav-link{
    font-family: 'Merriwether';
    color: #5D4037;
}

.navbar .navbar-nav:hover, .nav-link:hover{
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-transform: none;
}

.navbar .nav-link:hover{
    color: #8B4513;
}

.navbar .nav-item{
    text-align: left;
}

footer{
    text-align: center;
    padding: 20px;
    margin: 0;
    color: #5D4037;
}
